.hm__title {
  display: flex;
  align-items: center;
  padding-top: 1.4em;
  padding-left: 2.4em;
  margin-bottom: 0.8em;
}

.hm__title h3 {
  color: black;
  font-weight: 600;
  letter-spacing: 0.06em;
  font-size: 1.2em;
}