.hm__title {
  display: flex;
  align-items: center;
  padding-top: 1.4em;
  padding-left: 2.4em;
  /* background-color: var(--color2-bg); */
  margin-bottom: 0.8em;
}

.hm__title h3 {
  color: black;
  font-weight: 600;
  letter-spacing: 0.06em;
  font-size: 1.2em;
  /* text-transform: uppercase; */
  /* background-image: var(--color2-fg-select);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; */
}