#uds__title{
  margin-left: 5%;
  margin-right: 5%; 
}
.uds__container-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 300px;
  min-width: 100vw;
  min-height: 90vh;
}
.uds__container-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:left; 
  padding-top: 10%; 
}

.uds__info-bio{
  margin-top: 0px;
  border: solid 1px var(--color4-grey1);
  border-radius: 4px; 
  padding: 20px;
  min-width: 220px; 
  max-width: 220px;
  min-height: 220px;
  overflow: hidden; 
  text-align: justify;
}

#uds__title-name{
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.uds__photo-container{
  display: flex;
  align-items:flex-start;
}

.uds__info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 220px;
  min-width: 220px;
}

.uds__button-btn{
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 10%;
}