.app-container-delete {
  height: 812px;
  width: 375px;
  background-color: lightgrey;
}

.navbar-delete {
  position: absolute;
  width: 375px;
  background-color: grey;
  height: 100px;
  top: 712px;
}

.event-list-delete {
  max-height: 550px;
  overflow: auto
}

.event-card-delete {
  width: 80%;
  margin: 10px;
  background-color: white;
}

.flex-row-delete {
  display: flex;
}