.app-container-delete {
  height: 812px;
  width: 375px;
  background-color: lightgrey;
}

.navbar-delete {
  position: absolute;
  width: 375px;
  background-color: grey;
  height: 100px;
  top: 712px;
}

.event-list-delete {
  overflow: auto;
}

.event-card-delete {
  width: 80%;
  background-color: white;
}
