@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Martel+Sans:wght@200;300;400;600&family=Montserrat:wght@300;400;500;600&family=Overpass:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Source+Code+Pro:ital,wght@0,300;1,200&display=swap');
@import url('https://unpkg.com/leaflet@1.5.1/dist/leaflet.css');

body {
  font-family: 'Roboto';
  padding: 0px;
  margin:0px; 
}

h3 {
  margin-block-start: 0px; 
  margin-block-end: 0px; 
}

.small-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 44px;
  left: 31px;
  top: 184px;
  border: solid 1.5px #D9D9D9;
  border-radius: 3px; 
  background-color: transparent; 
}

.small-button:focus{
  background-color: #263056;
  color:white;
  border: none;
  border-radius: 3px;  
}

.button-icon{
  margin-right: 10px; 
}

.browse-events {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 375px;
}

/* MAP COMPONENT*/
.map-container{
  height: 462px;
  width: 375px;
  background-color:pink; 
}

.leaflet-container{
  height: 462px;
  width: 375px; 
  background-color:rgb(249, 249, 249); 
}

.my-div-icon{
  width: 20px; 
}

/* EVENT LIST COMPONENT */

.event-list-container{
  background-color: #F2F2F2;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 375px;
  height: 462px;
  overflow: scroll;
}

.activity-card{
  background-color:white;
  margin:20px; 
  margin-bottom: 20px;
  border-radius: 10px;
  margin: 20px; 
}

.activity-card-picture{
  border-radius: 50%;
  width: 52px; 
}

.browse-events-filter-menu{
  background-color:rgb(249, 249, 249); 
  height: 25vh;
  width: 375px;
  padding: 0px;
  margin: 0px; 
}

/* Profile and event Title */

.activity-card-profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:0px;
  padding: 10px; 
}

.activity-card-header-info{
  margin-left: 10px;
}

#activity-card-title{
  margin: 0px; 
}

#activity-card-user{
  margin: 0px;
}

.activity-card-details{
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.activity-card-details-icon{
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  background-color: #F2F2F2;
  width: 24px;
  height: 24px;
  padding: 3px; 
}



/* Navbar */
.navbar {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color:#263056;
  height: 15vh; 
  width: 375px;
  display: flex;
}

.navbar-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color:white;
  width: 5rem; 
}

.navbar-icon{
  color:white;
  width: 2rem;
  margin-bottom: 5px;
}




/* Event list component */

/* Filter menu layout && Date Picker*/

.filter-menu-button-container{
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center; 

}

.filter-menu-button-left-section{
  display: flex;
  flex-direction: row;
  flex:2; 
  overflow: hidden;
}

.filter-menu-calendar{ 
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll; 
}

.date-picker-selector{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
  border-radius: 10%;
  min-width: 48px; 
  min-height: 48px;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
}

.date-picker-selector:focus{
background-color: #263056;
color:white;
}

.date-picker-details{
  margin: 0px;
  font-size: 0.8rem;
}

/* use linear-gradient as 'background-image' */
/* use them with 'backgroud-color: var(--color1-bg)' */
:root {
  --color1-bg: linear-gradient(#FF00D6, #FF4D00);
  --color1-fg: #FFFFFF;
  --color2-bg: #263056;
  --color2-fg-select: linear-gradient(#FF00D6, #FF4D00);
  --color2-fg-deselect: #FFFFFF;
  --color3-alert: linear-gradient(#FF00D6, #FF4D00);
  --color4-grey1: #D9D9D9;
  --color5-grey2: #F2F2F2;
}
