@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Martel+Sans:wght@200;300;400;600&family=Montserrat:wght@300;400;500;600&family=Overpass:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Source+Code+Pro:ital,wght@0,300;1,200&display=swap');
@import url('https://unpkg.com/leaflet@1.5.1/dist/leaflet.css');

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color2-bg);
  letter-spacing: 0.04em;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --color1-bg: linear-gradient(#FF00D6, #FF4D00);
  --color1-fg: #FFFFFF;
  --color2-bg: #263056;
  --color2-fg-select: linear-gradient(#FF00D6, #FF4D00);
  --color2-fg-deselect: #FFFFFF;
  --color3-alert: linear-gradient(#FF00D6, #FF4D00);
  --color4-grey1: #c9c9c9;
  --color5-grey2: #F2F2F2;

  --color6-grad-mean: #FF2965;
}
