.dd__container {
  border-radius: 4px;
  position: fixed; /* Sit on top of the page content */
  z-index: 1000;
  right:10px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color5-grey2);
  background-color: white;
  overflow:hidden;
}

.dd__item-wrapper {

}

.dd__item{
  display: flex;
  height:4rem;
  align-items: center;
  padding:0.7em 1em;
}

.dd_item-line{
  border: 0.5px solid var(--color5-grey2);
  margin:0
}

.dd__item-icon{
  height:20px;
  margin-right:8px;
}

.dd__item-text {
  font-weight:400;
  font-size:16px;
}

.dd__item-active{
  background-color: var(--color2-light);
}