

.user-list-container {
  align-items: space-between;
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;

}

.ul-main-content {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  flex-grow: 1
}

.ul_submitter {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.ul_submitter:hover {
  cursor: pointer;
  width: fit-content;
}

.ul-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-result-container {
  margin-top: 1vh;
}