.user-list-container {
  background-color: white;

}

.ul_submitter {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.ul_submitter:hover {
  cursor: pointer;
  width: fit-content;
}

.ul-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-result-container {
  margin-top: 1vh;
}