

.user-list-container {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.ul-main-content {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
  overflow: scroll
}

.ul_submitter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}



.ul-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-result-container {
  margin-top: 1vh;
}