* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: white;
}

.form-wrap {
  position: relative;
}

input[type=text], input[type=password]  {
  border: 1.5px solid var(--color4-grey1);
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 14px;
  padding-left: 20px;
  min-height: 4em;
  width: 90%;
  margin-bottom: 10px;
}

input:focus + label,
/* input:valid + label{ */
input:not(:focus):valid + label{
  font-size: 10px;
  color: #afbdcf;
  top: -5px;
  left:10px;
  background: #ffffff;
  padding: 0px 5px 0px 5px;
}

/* .input-wrap {width:auto; height:auto; position:relative;
} */

.input-wrap label {
  position: absolute;
  font-size: 16px;
  color: #afbdcf;
  padding: 14px;
  top: 0;
  left: 0;
  /* transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all; */
  pointer-events: none;
}
