.mli__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.2em;
}

.mli__icon{
  padding: 0 1em 0 1.5em;
  height: 1.5em;
  margin-right: 10px;
}

.mli__text{
  font-weight:400;
  font-size:16px;
}

.mli__rightarrow {
  height: 1.5em;
  margin-left: auto;
  margin-right: 1.2em;
  transform: rotate(180deg);
}

.mli__line {
  border: 0.5px solid var(--color4-grey1);
  margin-left:4em
}