.bs__button  {
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 0.7rem;
  min-height: 2.6em;
  min-width: 142px;
  margin: 5px; 
  line-height: 150%;
  font-weight: bold;
}

.bs__button-fill {
  border: 0;
  font-weight: 100;
  background-image: var(--color1-bg);
  color: var(--color1-fg);
}

.bs__button-grey {
  font-weight: normal;
  background-color: var(--color5-grey2);
  border: 0;
}

.bs__button-stroke {
  font-weight: normal;
  z-index: 999;
  border: 0;
  margin: 0;
  background-image: var(--color2-fg-select);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.bs__button-stroke-container {
  display: flex;
  justify-content: center;
  position:relative;
  margin-bottom: 10px;
}
.bs__button-stroke-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  padding: 1px;
  background: var(--color1-bg);
  -webkit-mask:
     linear-gradient(#fff 0 0) content-box,
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

/*  */