.pu__container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(
    38,
    48,
    86,
    0.5
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.pu__fieldContainer {
  margin: 0rem 1rem;
}

.pu__cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: white;
  min-width: 320px;
  max-width: 90vw;
  z-index: 1;
}

.pu__mainContainer {
  padding: 1rem;
}

.pubtn__btn{
  z-index: 999;
}
.pu__single_btnContainer {
  display: flex;
  z-index: 998;
  width: 100%;
}

.pu__btnContainer {
  display: flex;
  z-index: 998;
  flex-direction: row-reverse;
  width: 100%;
}
.pu__btnContainer
  button:nth-child(1) {
  border-radius: 0
    0
    25px
    0;
}
.pu__btnContainer
  button:nth-child(2) {
  border-radius: 0
    0
    0
    25px;
}

.pu__btnTxtContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pu__hLight {
  font-weight: 300;
  margin: 0;
  padding: 1em 1em 0 1em;
}

.pu__hMed {
  font-size: 1.1em !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 0rem 1rem 0 1rem;
}

.pu__pMed {
  font-weight: 300;
  font-size: 0.8rem;
}
