a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}


.ec__main-container{
  background-color:white;
  margin:20px; 
  margin-bottom: 20px;
  border-radius: 10px;
  margin: 20px;
  max-width: 330px;
  min-width: 330px;
  min-height: 290px;  
}

.ec__tag-component-container {
  display: flex; 
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
  padding:4%; 
}

.ec__profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%; 
  margin:0px;
  margin-bottom: 5%;  
}

.ec__profile-inner-container{
  display: flex;
  flex-direction: row;
  width: 90%;
}

.ec__profile-picture-container{
  display: flex;
  width: 20%; 
  align-self: flex-start;
}

.ec__profile-picture{
  display: flex;
  align-items: center;
  justify-content:center;
  border-radius: 50%;
  width: 52px; 
}

.ec__header-text{
  margin: 0px; 
}
.ec__header-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.ec__details{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%;
}

.ec__details-inner-container{
  display: flex;
  flex-direction: row;
  width: 90%;
}



.ec__icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.ec__details-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #F2F2F2;
  width: 24px;
  height: 24px;
  padding: 3px;
  margin-right: 10px;
}


.ec__details-text{
  display: flex; 
  align-items: center;
  justify-content: center;
}

.ec__button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5% 0% 5% 0%; 
  
}


