.ec__container{
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0 20px;
  padding: 10px;
  border-radius: 10px;
  width: 330px;
  height: 260px;
}

.ec__details-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ec__tag-container {
  margin: 0 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
}

.ec__host-container {
  margin: 12px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ec__event-title {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.ec__event-title h3{
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.ec__event-title h4{
  font-size: 1.1em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.ec__details{
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}
.ec__detail {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.ec__detail p {
  margin-left: 10px;
  padding-left: 10px;
}

.ec__button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}