.pl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.pl__participantsContainer {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  overflow: scroll;
}

.pl__participantName {
  margin: 0;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}
