.pl {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.pl__participantsContainer {
  padding: 0.3em 0;
  display: flex;
  align-items: center;
  overflow: scroll;
  flex-basis: 50%;
}

@media only screen and (min-width: 600px)  {
  .pl__participantsContainer{
  flex-basis: 25%;
  }
}

.pl__participantName {
  margin: 0;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}
