.evl__container{
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  background-color: #F2F2F2;
  padding-bottom: 20px;
  height: 100%;
}

.evl__container::-webkit-scrollbar {
  display: none;
}