.evl__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  overflow: scroll;
  max-height: 61vh;
}

.event-list-container::-webkit-scrollbar {
  display: none;
}