
body {
  margin: 0 !important; 
}

.login__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 750px; 
}

.login__form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 844px;
}

.login__input-container{
  display: flex; 
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
}


.login__button{
  display: flex; 
  flex-direction: column;
  justify-content: flex-end;
  height: 50%; 
}

.login__container text {
  color: var(--color6-grad-mean);
  font-size: small;
}

.login__button{
  display: flex; 
  align-self: end;
  padding-bottom: 10%;
}