.login__container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__container p {
  color: var(--color6-grad-mean);
  font-size: small;
  margin: 0;
}