.ed {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ed h1{
  font-size: 1.15em;
  margin-bottom: 1em;
}

.ed h2{
  font-size: 0.9em;
  margin-top: 2em;
}

.ed h3{
  margin: 1.8em 0 0.5em 0;
  font-size: 0.9em;
}

.ed p{
  margin: 0;
  font-size: 0.9em;
}

.ed__indent {
  margin: 0 1.4em;
}

.ed__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

.ed__header {
  flex-grow: 1;
}

.ed__article {
  overflow: scroll;
  flex-grow: 4;
}

.ed__article::-webkit-scrollbar {
  display: none;
}

.ed__map-container {
  height: 40vh;
}

.ed__btn-container {
  flex-grow: 10;
  padding: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
