.ed {
  display: flex;
  overflow: scroll;

  flex-direction: column;
  height: 100%;
  padding: 0
    1rem
    1rem
    1rem;
}

.ed__fontSecondary {
  font-weight: 700;
  font-size: 0.9rem;
}

.ed__fontRegular {
  font-weight: 400;
  font-size: 0.9rem;
}

.ed__titile {
  font-weight: 700;
  font-size: 1.1rem;
}

.ed__mainContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.ed__txtContainer {
}

.ed__map-container {
  height: 400px;
  width: 100%;
}

.ed__btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  margin-top: auto;
  /* position: fixed; */
  /* align-self: flex-start; */
}
