.cG {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.cG__mainContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cG__chatMsgsContainer {
  background-color: var(--color5-grey2);
  height: 200px;
}

.cG__inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

.cG__input-field {
  background-color: blueviolet;
}

.cG__button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: blue;
  height: 100%;
  flex-grow: 1;
}

.cG__button {
  margin: 10px;
  align-self: flex-end;
  background-image: var(--color1-bg);
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

