.m__containerMain {
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.m__containerMain--true {
  justify-content: flex-end;
}

.m__containerMain--true
  > * {
  display: flex;
  justify-content: flex-end;
}

.m__containerMain--true
  > *
  > :nth-child(1) {
  background-image: var(
    --color1-bg
  );
  color: white;
}

.m__containerMain--false {
  justify-content: flex-start;
}

.m__containerSecondary {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.m__containerTxt {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  overflow: auto;
}

.m__userPhoto {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0.3rem;
}

.m__content {
  margin: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
}

.m__userName {
  margin: 0;
  color: #f4b400;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 0.3rem;
}
