.su__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.su__container p {
  color: var(--color6-grad-mean);
  margin: 0;
  font-size: small;
}