.su__main-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.su__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.su__test{
  height: 80vh;
}

#login__button{
  display: flex;
  align-items:flex-end; 
  height: 15vh;
}

.login__button text {
  color: var(--color6-grad-mean);
  font-size: small;
}