* {
  box-sizing: border-box; 
}

.cp__main-container{
  display: flex; 
  flex-direction: column; 
  height: 100%; 
}

.cp__container {
  display: flex; 
  flex-grow:1;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cp__form-container{
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
}

.cp__input-cotainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.cp__container text {
  color: var(--color6-grad-mean);
  font-size: small;
}

.cp__container p {
  color: var(--color6-grad-mean);
  font-size: small;
  margin: 0;
}
