.lsp__main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh; 
}

.lsp__spinner {
  display: flex;
}

.lsp__spinner:before {
  content: "";
  box-sizing: border-box;
  border-radius: 50%;
  border: 100px solid transparent;
  border-top-color: #0e124e;
  border-bottom-color: #ff00d6;
  animation: spinner 1s ease infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg) ;
  }
}