.ce__container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ce__container text {
  color: var(--color6-grad-mean);
  font-size: small;
}

.ce__wrapper_hidden {
  display: none;
}