.ce__container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.ce__form-container {
  width:100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.ce__container p {
  color: var(--color6-grad-mean);
  font-size: small;
}

.ce__wrapper_hidden {
  display: none;
}

.ce__tags-container{
  margin:0;
  padding:0;
  width:100%;
  overflow: hidden;
  padding-bottom:15px;
}

.ce__map-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 32vh;
  width: 400px;
  background-color:aquamarine;

}

.ce__container p {
  color: var(--color6-grad-mean);
  font-size: small;
}