.map-container{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color:pink;
}

.leaflet-container{
  display: flex;
  flex-grow: 1;
  height: 300px;
}

.my-div-icon{
  width: 20px;
}


.activity-card{
  background-color:white;
  margin:20px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin: 20px;
}

.activity-card-picture{
  border-radius: 50%;
  width: 52px;
}

.browse-events {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 375px;
}