.ml__container{
width:100%;
height:100%;
background-color:pink;
}


.my-div-icon{
  width: 20px;
}

.browse-events-filter-menu{
  background-color:rgb(249, 249, 249);
  height: 25vh;
  width: 375px;
  padding: 0px;
  margin: 0px;
}

.browse-events {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 375px;
}

.marker-pin {
  fill:#FF2965;
  height: 50px;
  width: 50px;
}