.map-container{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color:pink;
}

.leaflet-container{
  display: flex;
  flex-grow: 1;
  height: 300px;
}

.my-div-icon{
  width: 20px;
}

.browse-events-filter-menu{
  background-color:rgb(249, 249, 249);
  height: 25vh;
  width: 375px;
  padding: 0px;
  margin: 0px;
}

.browse-events {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 375px;
}