.tg_inner-container{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items:center;
}

#tg_individual-tag {
  background-color: var(--color5-grey2);
  margin: 0 0.6em 0 0;
  padding: 0.3em 0.5em;
  border-radius: 3px;
}

.tg__header-text{
  margin: 0;
  font-size: 0.65em !important;
}