.bem__container {
 display: flex;
 flex-direction: column;
 align-items: space-between;
 box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.23);
 height:261px;;
}

.bem-selectors-toggle {
  min-height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.bem__selectors-dates {
  display:flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-left:4px

}

.bem__selectors-searchbar{

}

.bem__selectors-dates::-webkit-scrollbar {
  display: none;
}

.bem__selectors-dates-item {
  cursor: pointer;
  background-color: var(--color5-grey2);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  min-width: 48px;
  min-height: 48px;
  margin: 0 6px;
  border: 1px solid var(--color5-grey2);
}

.bem__selectors-dates-item-details{
  margin: 0px;
  font-size: 0.8rem;
}


.bem__selectors-btns {
  display: flex;
  flex-direction: row;
  margin: 0px 10px 20px;
  justify-content: center;
  align-items: center;
}

.bem__selectors-btns-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100px;
  border-radius: 6%;
  height: 44px;
  font-size: 15px;
  outline: none;
  background-color: white;
  border: 2px solid var(--color5-grey2);
}

.bem__selectors-btns-btn-right {
margin-left:auto;
}

.bem__selectors-btns-btn-right:active {
  background-color: #263056;
  color:white;
}

.bem__selector-active{
  background-color: #263056;
  color:white;
}


.bem__selectors-fitlers {
}

.bem__selectors-filters-drop-down {
  background-color: white;
  position: fixed; /* Sit on top of the page content */
  right:10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.23);
display:none;
width:150px;;
}


.bem__selectors-drop-down-show {

display:block !important;

}


.drop-down-element {
  display: flex;
  height:70px;
  align-items: center;
  /* justify-content: space-between; */
padding:5px;

}

.line{
  border: 0.5px solid var(--color4-grey1);
  /* margin-left:10px */
}


.dd__icon{
  padding: 0 1em 0 1.5em;
  height: 1.5em;
  margin-right: 20px;
}

.dd__text {
  font-weight:400;
  font-size:16px;
}