.bem__container {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.23);
}

.bem__filterbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

.bem__fitlerbar-dates {
  padding: 0 1rem;
  display:flex;
  flex-direction: row;
  overflow-x: scroll;
}

.bem__fitlerbar-dates::-webkit-scrollbar {
  display: none;
}

.bem__fitlerbar-dates-item {
  cursor: grab;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  max-width: 3rem;
  max-height: 3rem;
  padding:1.35rem;
  border: 1px solid var(--color5-grey2);
}

.bem__fitlerbar-dates-item-spacer {
  min-width:10px;
}

.bem__fitlerbar-dates-item-details{
  font-size: 0.8rem;
}

.bem__btns-container {
  padding: 1.2rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.bem_btns-listmap{
  display: flex;
  flex-direction: row;
}

.bem__btns-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:1.3rem;
  min-width: 7rem;
  border-radius: 4px;
  height: 3.2em;
  font-size: 0.9rem;
  outline: none;
  background-color: white;
  border: 2px solid var(--color5-grey2);
}

.bem__selector-active{
  background-color: #263056;
  color:white;
}