/* Navbar */

.n__container {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color:#263056;
  height: 14vh;
  width: 100%;
  display: flex;
}

.n__button{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: var(--color2-fg-deselect);
  fill: var(--color2-fg-select);
  width: 5rem;
  padding-bottom: 2em;
}

.n__button--select{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  background-image: var(--color2-fg-select);
  clip-path: url(#clip);
  -webkit-clip-path: url(#clip);
  /* background-clip: text; */
  width: 5rem;
  padding-bottom: 2em;
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; */
}

.n__icon-container {
  display: flex;
  justify-content: center;
  width: 2em;
  height: 2em;
  margin-bottom: 1em;
}

.n__icon{
  height: 2rem;
  width: 2rem;
  margin-bottom: 5px;
}

.n__icon-small{
  padding-top: 0.4em;
  height: 1.4rem;
  width: 1.4rem;
}