.cl__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

.cl_itemContainer {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.cl_itemContainer > * {
  border-bottom: 1px
    solid
    rgb(
      217,
      217,
      217
    );
}

/* .cl_itemContainer
  > *
  + * {
  padding-top: 1rem;
} */
