/* .cl_itemContainer
  > *
  + * {
  content: "";
  background-color: orange;
  background: red;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

.cl_itemContainer {
  padding-top: 1rem;
  border: 1px
    solid
    black;
}
